# Ignore everything
*

# Except the scripts folder and its contents
!script/
!script/**

# Except README.md
!README.md
!.gitignore
# Ignore Python caches in script folder
script/__pycache__/
script/*.pyc
